<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>vue email list</title>
  <!-- link vue -->
  <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>
  <!-- link vue -->
<!-- link ajax -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.min.js" integrity="sha512-bZS47S7sPOxkjU/4Bt0zrhEtWx0y0CRkhEp8IckzK+ltifIIE9EMIMTuT/mEzoIMewUINruDBIR/jJnbguonqQ==" crossorigin="anonymous"></script>
  <!-- link ajax -->
  <!-- link css -->
  <link rel="stylesheet" href="css/style.css">
  <!-- link css -->

</head>
<body>
  <!-- Genera 10 mail tramite api e stampale in una lista. -->

  <div id="app">
  <ul v-for="ran in randomMail">
    <li class="grey" v-if="randomMail">{{ ran }}</li>
  </ul>

  </div>



  <script src="js/script.js" charset="utf-8"></script>
</body>
</html>
